In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = con.cursor() # cur.execute(query) to execute query where type(query) == 'str'

In [3]:
Q10 = '''
SELECT f.name,
    SUM(CASE WHEN m.memid <> 0 THEN f.membercost * b.slots
        ELSE f.guestcost * b.slots END) AS TotalRevenue
FROM Bookings as b
LEFT JOIN Facilities as f
ON b.facid = f.facid
LEFT JOIN Members as m
ON b.memid = m.memid
GROUP BY f.name
ORDER BY TotalRevenue
'''

In [4]:
cur.execute(Q10)
cur.fetchall()

[('Table Tennis', 180),
 ('Snooker Table', 240),
 ('Pool Table', 270),
 ('Badminton Court', 1906.5),
 ('Squash Court', 13468.0),
 ('Tennis Court 1', 13860),
 ('Tennis Court 2', 14310),
 ('Massage Room 2', 14454.599999999995),
 ('Massage Room 1', 50351.600000000275)]

In [5]:
Q11 = '''
SELECT recommended.surname AS recommended_surname,
    recommended.firstname AS recommended_firstame,
    recommender.surname AS recommender_surname,
    recommender.firstname AS recommender_firstname
FROM Members AS recommended
LEFT JOIN Members AS recommender 
ON recommended.recommendedby = recommender.memid
WHERE recommender.memid IS NOT NULL
ORDER BY recommended_surname, 
    recommended_firstame,
    recommender_surname,
    recommender_firstname
'''

In [6]:
cur.execute(Q11)
cur.fetchall()

[('Bader', 'Florence', 'Stibbons', 'Ponder'),
 ('Baker', 'Anne', 'Stibbons', 'Ponder'),
 ('Baker', 'Timothy', 'Farrell', 'Jemima'),
 ('Boothe', 'Tim', 'Rownam', 'Tim'),
 ('Butters', 'Gerald', 'Smith', 'Darren'),
 ('Coplin', 'Joan', 'Baker', 'Timothy'),
 ('Crumpet', 'Erica', 'Smith', 'Tracy'),
 ('Dare', 'Nancy', 'Joplette', 'Janice'),
 ('Genting', 'Matthew', 'Butters', 'Gerald'),
 ('Hunt', 'John', 'Purview', 'Millicent'),
 ('Jones', 'David', 'Joplette', 'Janice'),
 ('Jones', 'Douglas', 'Jones', 'David'),
 ('Joplette', 'Janice', 'Smith', 'Darren'),
 ('Mackenzie', 'Anna', 'Smith', 'Darren'),
 ('Owen', 'Charles', 'Smith', 'Darren'),
 ('Pinker', 'David', 'Farrell', 'Jemima'),
 ('Purview', 'Millicent', 'Smith', 'Tracy'),
 ('Rumney', 'Henrietta', 'Genting', 'Matthew'),
 ('Sarwin', 'Ramnaresh', 'Bader', 'Florence'),
 ('Smith', 'Jack', 'Smith', 'Darren'),
 ('Stibbons', 'Ponder', 'Tracy', 'Burton'),
 ('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')]

In [7]:
Q12 = '''
SELECT f.name,
   COUNT(f.name)
FROM Bookings AS b
LEFT JOIN Facilities AS f
USING (facid)
LEFT JOIN Members as m
ON m.memid = b.memid
WHERE m.memid <> 0 
GROUP BY f.name
'''

In [8]:
cur.execute(Q12)
cur.fetchall()

[('Badminton Court', 344),
 ('Massage Room 1', 421),
 ('Massage Room 2', 27),
 ('Pool Table', 783),
 ('Snooker Table', 421),
 ('Squash Court', 195),
 ('Table Tennis', 385),
 ('Tennis Court 1', 308),
 ('Tennis Court 2', 276)]

In [9]:
Q13 = '''
SELECT f.name AS Facility,
   COUNT(f.name) AS Usage,
   strftime('%m', b.starttime) AS Month
FROM Bookings AS b
LEFT JOIN Facilities AS f
USING (facid)
LEFT JOIN Members as m
ON m.memid = b.memid
WHERE m.memid <> 0 
GROUP BY f.name, Month
'''

In [10]:
cur.execute(Q13)
cur.fetchall()

[('Badminton Court', 51, '07'),
 ('Badminton Court', 132, '08'),
 ('Badminton Court', 161, '09'),
 ('Massage Room 1', 77, '07'),
 ('Massage Room 1', 153, '08'),
 ('Massage Room 1', 191, '09'),
 ('Massage Room 2', 4, '07'),
 ('Massage Room 2', 9, '08'),
 ('Massage Room 2', 14, '09'),
 ('Pool Table', 103, '07'),
 ('Pool Table', 272, '08'),
 ('Pool Table', 408, '09'),
 ('Snooker Table', 68, '07'),
 ('Snooker Table', 154, '08'),
 ('Snooker Table', 199, '09'),
 ('Squash Court', 23, '07'),
 ('Squash Court', 85, '08'),
 ('Squash Court', 87, '09'),
 ('Table Tennis', 48, '07'),
 ('Table Tennis', 143, '08'),
 ('Table Tennis', 194, '09'),
 ('Tennis Court 1', 65, '07'),
 ('Tennis Court 1', 111, '08'),
 ('Tennis Court 1', 132, '09'),
 ('Tennis Court 2', 41, '07'),
 ('Tennis Court 2', 109, '08'),
 ('Tennis Court 2', 126, '09')]

In [11]:
con.close()